# Packages
alias install='sudo apt-get install'
alias purge='sudo apt-get purge'
alias upgrade='sudo apt-get update && sudo apt-get upgrade'
alias clean='sudo apt-get autoremove; sudo apt-get autoclean'

# Color settings
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# General shortcuts for functions or apps
alias c='clear'
alias g='git'
alias s='subl'
alias v='vim'
alias y='yeoman'

# Shortcuts for moving a directory inspect
alias ~='cd ~'
alias -- -="cd -"
alias dt='cd ~/Desktop'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Quicker development
alias hosts='sudo $EDITOR /etc/hosts'

# Enable aliases to be sudo’ed
alias sudo='sudo '