# Quicker reload
alias reload=". ~/.zshrc && echo 'Config reloaded'"
alias zshrc="vim ~/.zshrc && reload"

# Packages
alias install='sudo apt-get install'
alias purge='sudo apt-get purge'
alias update='adg; sudo apt-get autoremove; aac; sudo npm update -g npm; sudo npm update -g;'

# Color settings
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# General shortcuts for functions or apps
alias c='clear'
alias g='git'
alias s='subl'
alias v='vim'
alias y='yeoman'

# Shortcuts for moving a directory inspect
alias ~='cd ~'
alias -- -="cd -"
alias dt='cd ~/Desktop'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Quicker development
alias hosts='sudo $EDITOR /etc/hosts'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Utils
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias week='date +%V'
