# Larger history
export HISTSIZE=32768
export HISTFILESIZE=HISTSIZE

# Don't put duplicate lines or lines starting with space in the history.
export HISTCONTROL=ignoreboth

# Custom history log format
export HISTTIMEFORMAT="%H:%M:%S %d-%m-%Y %a "

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:ll:cd:cd -:c:g st:g ll:g df:g f:date:* --help:h"

# Default editor
export EDITOR=vim