[user]
	name = Ján Koščo
	email = 3k.stanley@gmail.com
[core]
	autocrlf = input
	safecrlf = false
	excludesfile = ~/.gitignore
[alias]
	f = fetch -all
	ff = !git merge --ff-only origin/`git branch 2>/dev/null | grep '*' | cut -d\" \" -f2-`
	st = status -s
	br = branch
	cl = clone
	cm = commit
	cma = commit --amend
	co = checkout
	cp = cherry-pick
	df = diff
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
	l = log --graph --decorate --oneline
	ld = log -p -m
	ll = log --graph --decorate --oneline --all
	ls = log --stat -m
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rh = reset --hard
	rmb = !sh -c 'git push origin :$1' -
	su = submodule update
	stats = shortlog -n -s --no-merges
[remote "origin"]
	push = HEAD
[diff]
	mnemonicprefix = true
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
