[user]
	name = Jany Koščo
	email = 3k.stanley@gmail.com
	signingkey = 3k.stanley@gmail.com

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[include]
    path = ~/.gitconfig.local

[help]
	autoCorrect = prompt

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

[alias]
	s = status -sb
	st = s
	br = branch
	brl = branch -a
	p = push origin HEAD
	fp = push --force-with-lease origin HEAD
	f = fetch --all --prune --tags

	# fast forward merged
	ff = !git merge --ff-only origin/`git branch 2>/dev/null | grep '*' | cut -d\" \" -f2-`

	a = add -p
	cm = commit -m
	cf = commit --fixup
	cma = commit --amend
	cmaf = commit --amend -a --no-edit
	empty = commit --allow-empty -m 'Initial commit'
	cp = cherry-pick

	co = checkout
	cob = checkout -b
	col = !fish -c 'git_fuzzy_checkout_local_branch'
	cor = !fish -c 'git_fuzzy_checkout_remote_branch'
	fresh = !git f && git co origin/main

	ss = stash
	ssa = stash save -u
	sp = stash pop

	df = diff
	dfc = diff --cached
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
	dfi = icdiff

	l = log --graph --decorate --oneline
	ld = log -p -m --ext-diff
	ll = log --graph --decorate --oneline --all
	ls = log --stat -m

	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rbm = !fish -c 'git_rebase_onto_main'

	r = reset
	rh = reset --hard
	uncm = reset --soft HEAD~1

	rmb = branch -D

[remote "origin"]
	push = HEAD
[diff]
	mnemonicprefix = true
	external = difft

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
[icdiff]
	options = --highlight --line-numbers
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
